<form role="form" name="resourceForm" novalidate>

  <!-- Form - Part 1 -->
  <div ng-hide="showResourceForm">
    <label>What type of resource do you want to submit?</label>
    <div class="radio">
      <label>
        <input type="radio" ng-model="resource.type" value="article"> Article
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="resource.type" value="blog"> Blog
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="resource.type" value="event"> Event
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="resource.type" value="serviceprovider"> Service Provider
      </label>
    </div>
  </div>

  <!-- Form - Part 2 -->
  <div ng-show="showResourceForm">
    <div class="form-group">
      <label>Type</label>
      <input type="text" name="type" class="form-control" ng-model="resource.type" ng-disabled="true">
    </div>
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="title" class="form-control" ng-model="resource.title" required>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" name="description" rows="5" ng-model="resource.description" required></textarea>
    </div>
    <div class="form-group">
      <label>URL</label>
      <input type="url" class="form-control" name="url" ng-model="resource.url" required>
    </div>
  </div>

</form>